# .github/workflows/ci.yml
name: Lint

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9, 3.10, 3.11, 3.12, 3.13, 3.14]
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r requirements.txt -e .

    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')

